svg path:hover {
  fill: #000000;
  transition: 0.5s;
  cursor: pointer;
}

svg path {
  fill: rgb(167, 2, 30);
}

.num1 {
  fill: rgb(0, 102, 153);
}
.num2 {
  fill: rgb(0, 102, 153);
}

.num3 {
  fill: rgb(0, 102, 153);
}

.num4 {
  fill: rgb(0, 102, 153);
}
.num5 {
  fill: rgb(0, 102, 153);
}

.num6 {
  fill: rgb(0, 102, 153);
}

.num7 {
  fill: rgb(0, 102, 153);
}
.num8 {
  fill: rgb(0, 102, 153);
}

.num9 {
  fill: rgb(0, 102, 153);
}

.num10 {
  fill: rgb(0, 102, 153);
}
.num11 {
  fill: rgb(0, 102, 153);
}

.num12 {
  fill: rgb(0, 102, 153);
}

.num13 {
  fill: rgb(0, 102, 153);
}
.num14 {
  fill: rgb(0, 102, 153);
}

.num15 {
  fill: rgb(0, 102, 153);
}
.num16 {
  fill: rgb(0, 102, 153);
}
.num17 {
  fill: rgb(0, 102, 153);
}

.num18 {
  fill: rgb(0, 102, 153);
}

.num19 {
  fill: rgb(0, 102, 153);
}
.num20 {
  fill: rgb(0, 102, 153);
}

.num21 {
  fill: rgb(0, 102, 153);
}

.num22 {
  fill: rgb(0, 102, 153);
}
.num23 {
  fill: rgb(0, 102, 153);
}

.num24 {
  fill: rgb(0, 102, 153);
}

.num25 {
  fill: rgb(0, 102, 153);
}
.num26 {
  fill: rgb(0, 102, 153);
}

.num27 {
  fill: rgb(167, 2, 30);
}

.num28 {
  fill: rgb(167, 2, 30);
}
.num29 {
  fill: rgb(167, 2, 30);
}

.num30 {
  fill: rgb(167, 2, 30);
}
.num31 {
  fill: rgb(167, 2, 30);
}
.num32 {
  fill: rgb(167, 2, 30);
}
.num33 {
  fill: rgb(167, 2, 30);
}
.num34 {
  fill: rgb(167, 2, 30);
}
.num35 {
  fill: rgb(167, 2, 30);
}
.num36 {
  fill: rgb(167, 2, 30);
}
.num37 {
  fill: rgb(167, 2, 30);
}
.num38 {
  fill: rgb(167, 2, 30);
}
.num39 {
  fill: rgb(167, 2, 30);
}
.num40 {
  fill: rgb(167, 2, 30);
}
.num41 {
  fill: rgb(167, 2, 30);
}
.num42 {
  fill: rgb(167, 2, 30);
}
.num43 {
  fill: rgb(167, 2, 30);
}
.num44 {
  fill: rgb(167, 2, 30);
}
.num45 {
  fill: rgb(167, 2, 30);
}
.num46 {
  fill: rgb(167, 2, 30);
}
.num47 {
  fill: rgb(167, 2, 30);
}
.num48 {
  fill: rgb(167, 2, 30);
}
.num49 {
  fill: rgb(167, 2, 30);
}
.num50 {
  fill: rgb(167, 2, 30);
}
.num51 {
  fill: rgb(167, 2, 30);
}
.num52 {
  fill: rgb(167, 2, 30);
}
.num53 {
  fill: rgb(167, 2, 30);
}
.num54 {
  fill: rgb(167, 2, 30);
}
.num55 {
  fill: rgb(167, 2, 30);
}
.num56 {
  fill: rgb(167, 2, 30);
}
.num57 {
  fill: rgb(167, 2, 30);
}
.num58 {
  fill: rgb(167, 2, 30);
}
.num59 {
  fill: rgb(167, 2, 30);
}
.num60 {
  fill: rgb(167, 2, 30);
}
.num61 {
  fill: rgb(167, 2, 30);
}
.num62 {
  fill: rgb(167, 2, 30);
}
.num63 {
  fill: rgb(167, 2, 30);
}
.num64 {
  fill: rgb(167, 2, 30);
}
.num65 {
  fill: rgb(167, 2, 30);
}
.num66 {
  fill: rgb(167, 2, 30);
}
.num67 {
  fill: rgb(167, 2, 30);
}
.num68 {
  fill: rgb(167, 2, 30);
}
.num69 {
  fill: rgb(167, 2, 30);
}
.num70 {
  fill: rgb(167, 2, 30);
}
.num71 {
  fill: rgb(167, 2, 30);
}
.num72 {
  fill: rgb(167, 2, 30);
}
.num73 {
  fill: rgb(167, 2, 30);
}
.num74 {
  fill: rgb(167, 2, 30);
}
.num75 {
  fill: rgb(167, 2, 30);
}
.num76 {
  fill: rgb(167, 2, 30);
}
.num77 {
  fill: rgb(167, 2, 30);
}
.num78 {
  fill: rgb(8, 139, 8);
}
.num79 {
  fill: rgb(8, 139, 8);
}
.num80 {
  fill: rgb(8, 139, 8);
}
.num81 {
  fill: rgb(8, 139, 8);
}
.num82 {
  fill: rgb(8, 139, 8);
}
.num83 {
  fill: rgb(8, 139, 8);
}
.num84 {
  fill: rgb(8, 139, 8);
}
.num85 {
  fill: rgb(8, 139, 8);
}
.num86 {
  fill: rgb(8, 139, 8);
}
.num87 {
  fill: rgb(8, 139, 8);
}
.num88 {
  fill: rgb(8, 139, 8);
}
.num89 {
  fill: rgb(8, 139, 8);
}
.num90 {
  fill: rgb(8, 139, 8);
}
.num91 {
  fill: rgb(8, 139, 8);
}
.num92 {
  fill: rgb(8, 139, 8);
}
.num93 {
  fill: rgb(8, 139, 8);
}
.num94 {
  fill: rgb(8, 139, 8);
}
.num95 {
  fill: rgb(8, 139, 8);
}
.num96 {
  fill: rgb(8, 139, 8);
}
.num97 {
  fill: rgb(8, 139, 8);
}
.num98 {
  fill: rgb(8, 139, 8);
}
.num99 {
  fill: rgb(8, 139, 8);
}
.num100 {
  fill: rgb(194, 42, 42);
}
.num101 {
  fill: rgb(194, 42, 42);
}
.num102 {
  fill: rgb(194, 42, 42);
}
.num103 {
  fill: rgb(167, 2, 30);
}
.num104 {
  fill: rgb(167, 2, 30);
}
.num105 {
  fill: rgb(194, 42, 42);
}
.num106 {
  fill: rgb(194, 42, 42);
}
.num107 {
  fill: rgb(194, 42, 42);
}
.num108 {
  fill: rgb(194, 42, 42);
}
.num109 {
  fill: rgb(194, 42, 42);
}
.num110 {
  fill: rgb(194, 42, 42);
}
.num111 {
  fill: rgb(194, 42, 42);
}
.num112 {
  fill: rgb(194, 42, 42);
}
.num113 {
  fill: rgb(194, 42, 42);
}
.num114 {
  fill: rgb(167, 2, 30);
}
.num115 {
  fill: rgb(167, 2, 30);
}
.num116 {
  fill: rgb(167, 2, 30);
}
.num117 {
  fill: rgb(167, 2, 30);
}
.num118 {
  fill: rgb(167, 2, 30);
}
.num119 {
  fill: rgb(194, 42, 42);
}
.num120 {
  fill: rgb(194, 42, 42);
}
.num121 {
  fill: rgb(194, 42, 42);
}
.num122 {
  fill: rgb(194, 42, 42);
}
.num123 {
  fill: rgb(194, 42, 42);
}
.num124 {
  fill: rgb(194, 42, 42);
}
.num125 {
  fill: rgb(194, 42, 42);
}
.num126 {
  fill: rgb(194, 42, 42);
}
.num127 {
  fill: rgb(194, 42, 42);
}
.num128 {
  fill: rgb(194, 42, 42);
}
.num129 {
  fill: rgb(8, 139, 8);
}
.num130 {
  fill: rgb(8, 139, 8);
}
.num131 {
  fill: rgb(8, 139, 8);
}
.num132 {
  fill: rgb(0, 102, 153);
}
.num133 {
  fill: rgb(167, 2, 30);
}
.num134 {
  fill: rgb(167, 2, 30);
}
.num135 {
  fill: rgb(167, 2, 30);
}
.num136 {
  fill: rgb(167, 2, 30);
}
.num137 {
  fill: rgb(167, 2, 30);
}
.num138 {
  fill: rgb(167, 2, 30);
}
.num139 {
  fill: rgb(167, 2, 30);
}
.num140 {
  fill: rgb(167, 2, 30);
}
.num141 {
  fill: rgb(167, 2, 30);
}
.num142 {
  fill: rgb(167, 2, 30);
}
.num143 {
  fill: rgb(167, 2, 30);
}
.num144 {
  fill: rgb(167, 2, 30);
}
.num145 {
  fill: rgb(167, 2, 30);
}
.num146 {
  fill: rgb(0, 102, 153);
}
.num147 {
  fill: rgb(0, 102, 153);
}
.num148 {
  fill: rgb(0, 102, 153);
}
.num149 {
  fill: rgb(0, 102, 153);
}
.num150 {
  fill: rgb(167, 2, 30);
}
.num151 {
  fill: rgb(167, 2, 30);
}
.num152 {
  fill: rgb(167, 2, 30);
}
.num153 {
  fill: rgb(167, 2, 30);
}
.num154 {
  fill: rgb(167, 2, 30);
}
.num155 {
  fill: rgb(167, 2, 30);
}
.num156 {
  fill: rgb(167, 2, 30);
}
.num157 {
  fill: rgb(167, 2, 30);
}
.num158 {
  fill: rgb(167, 2, 30);
}
.num159 {
  fill: rgb(167, 2, 30);
}
.num160 {
  fill: rgb(167, 2, 30);
}
.num161 {
  fill: rgb(167, 2, 30);
}
.num162 {
  fill: rgb(167, 2, 30);
}
.num163 {
  fill: rgb(167, 2, 30);
}
.num164 {
  fill: rgb(167, 2, 30);
}
.num165 {
  fill: rgb(167, 2, 30);
}
.num166 {
  fill: rgb(167, 2, 30);
}
.num167 {
  fill: rgb(167, 2, 30);
}
.num168 {
  fill: rgb(167, 2, 30);
}
.num169 {
  fill: rgb(167, 2, 30);
}
.num170 {
  fill: rgb(167, 2, 30);
}
.num171 {
  fill: rgb(167, 2, 30);
}
.num172 {
  fill: rgb(167, 2, 30);
}
.num173 {
  fill: rgb(167, 2, 30);
}
.num174 {
  fill: rgb(0, 102, 153);
}
.num175 {
  fill: rgb(8, 139, 8);
}
.num176 {
  fill: rgb(167, 2, 30);
}
.num177 {
  fill: rgb(167, 2, 30);
}
.num178 {
  fill: rgb(167, 2, 30);
}
.num179 {
  fill: rgb(167, 2, 30);
}
.num180 {
  fill: rgb(167, 2, 30);
}
.num181 {
  fill: rgb(167, 2, 30);
}
.num182 {
  fill: rgb(167, 2, 30);
}
.num183 {
  fill: rgb(167, 2, 30);
}
.num184 {
  fill: rgb(167, 2, 30);
}
.num185 {
  fill: rgb(167, 2, 30);
}
.num186 {
  fill: rgb(167, 2, 30);
}
.num187 {
  fill: rgb(167, 2, 30);
}
.num188 {
  fill: rgb(167, 2, 30);
}
.num189 {
  fill: rgb(167, 2, 30);
}
.num190 {
  fill: rgb(167, 2, 30);
}
.num191 {
  fill: rgb(167, 2, 30);
}
.num192 {
  fill: rgb(167, 2, 30);
}
.num193 {
  fill: rgb(167, 2, 30);
}
.num194 {
  fill: rgb(167, 2, 30);
}
.num195 {
  fill: rgb(167, 2, 30);
}
.num196 {
  fill: rgb(167, 2, 30);
}
.num197 {
  fill: rgb(167, 2, 30);
}
.num198 {
  fill: rgb(167, 2, 30);
}
.num199 {
  fill: rgb(167, 2, 30);
}
.num200 {
  fill: rgb(167, 2, 30);
}
.num201 {
  fill: rgb(167, 2, 30);
}
.num202 {
  fill: rgb(167, 2, 30);
}
.num203 {
  fill: rgb(167, 2, 30);
}
.num204 {
  fill: rgb(167, 2, 30);
}
.num205 {
  fill: rgb(167, 2, 30);
}
.num206 {
  fill: rgb(167, 2, 30);
}
.num207 {
  fill: rgb(167, 2, 30);
}
.num208 {
  fill: rgb(167, 2, 30);
}
.num209 {
  fill: rgb(167, 2, 30);
}
.num210 {
  fill: rgb(167, 2, 30);
}
.num211 {
  fill: rgb(167, 2, 30);
}
.num212 {
  fill: rgb(167, 2, 30);
}
.num213 {
  fill: rgb(167, 2, 30);
}
.num214 {
  fill: rgb(167, 2, 30);
}
.num215 {
  fill: rgb(167, 2, 30);
}
.num216 {
  fill: rgb(167, 2, 30);
}
.num217 {
  fill: rgb(167, 2, 30);
}
.num218 {
  fill: rgb(167, 2, 30);
}
.num219 {
  fill: rgb(167, 2, 30);
}
.num220 {
  fill: rgb(167, 2, 30);
}
.num221 {
  fill: rgb(167, 2, 30);
}
.num222 {
  fill: rgb(167, 2, 30);
}
.num223 {
  fill: rgb(167, 2, 30);
}
.num224 {
  fill: rgb(167, 2, 30);
}
.num225 {
  fill: rgb(167, 2, 30);
}
.num226 {
  fill: rgb(167, 2, 30);
}
.num227 {
  fill: rgb(167, 2, 30);
}
.num228 {
  fill: rgb(167, 2, 30);
}
.num229 {
  fill: rgb(167, 2, 30);
}
.num230 {
  fill: rgb(167, 2, 30);
}
.num231 {
  fill: rgb(167, 2, 30);
}
.num232 {
  fill: rgb(167, 2, 30);
}
